body {
  background-color: chartreuse;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-container a {
  margin: 1em;
}

.puppy-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.puppy-container img {
  width: 500px;
  margin: 1em;
}